default_language_version:
    python: python3

repos:
- repo: https://github.com/psf/black
  rev: 19.3b0
  hooks:
  - id: black

- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v2.2.3
  hooks:
  - id: check-added-large-files
  - id: check-ast
  - id: check-byte-order-marker
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://gitlab.com/pycqa/flake8
  rev: 3.7.8
  hooks:
  - id: flake8
    additional_dependencies: ["flake8-string-format"]

- repo: https://github.com/luismayta/pre-commit-mypy
  rev: 0.1.1
  hooks:
  - id: mypy
    args: ["--scripts-are-modules", "--ignore-missing-imports"]

- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
    - id: isort
      args: ["--ignore-whitespace", "--settings-path", "./", "--recursive"]
