psycopg2>=2.7,<2.8 --no-binary psycopg2
web3
click

# --- development dependencies, i.e. dependencies not needed for running ethindex
black
coverage
flake8
flake8-invalid-escape-sequences
flake8-pep3101
flake8-string-format
mypy
pytest==3.2.5
