psycopg2>=2.7,<2.8 --no-binary psycopg2
web3>=4.4.1
click
attrs
# --- development dependencies, i.e. dependencies not needed for running ethindex
black
coverage
flake8
flake8-invalid-escape-sequences
flake8-string-format
mypy
pytest
tox
testing.postgresql
eth-tester[py-evm]
