psycopg2>=2.7
web3>=5.0
click
attrs
importlib-metadata; python_version<'3.8'

# --- development dependencies, i.e. dependencies not needed for running ethindex
black
coverage
flake8
flake8-string-format
mypy
pytest
tox
testing.postgresql
eth-tester[py-evm]
pre-commit
